div.front-section.gutter.row(ng-controller="FeaturedController")
  div.row
    div.col-sm-4(ng-repeat="news in recentNews")
      div.thumbnail
        article
          img(src="img/team.jpg")
          div.caption
            h1 Neque porro quisquam est
