div.front-section.gutter.row(ng-controller="FeaturedController")
  div.row
    div.col-sm-4(ng-repeat="news in recentNews")
      div.thumbnail
        article
          img(ng-src="{{ news.img }}")
          div.caption
            h1 {{ news.headLine }}
