div.front-section.gutter.row(ng-controller="FeaturedController")
  div.row(ng-repeat="rows in recentNews | partition:3")
    div.col-sm-4(ng-repeat="article in rows")
      div.thumbnail
        article
          img(ng-src="{{ article.img }}")
          div.caption
            h1 {{ article.headLine }}
