/* app css stylesheet */

* {
  font-family: 'Roboto Condensed', 'san serif'; 
}

.container { 
  margin: 0; 
}

/* Header */

header {
  position: relative;
  text-align: center;
}

header h1 {
  font-family: 'Roboto Condensed', 'san serif'; 
  font-size: 3em;
  text-align: center;
  text-transform:uppercase;
}

header h1 img {
  padding-left: .5em;
  padding-right: .5em;
  width: 200px;
}

/* Nav */

nav {
  font-family: 'Roboto Condensed', 'san serif'; 
  font-size: 2em;
  height: 8em;
  position: relative;
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: inline;
  margin: 0 10px;
  padding: 0;
  
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav img {
  width: 150px;

  position:absolute; 
  top:50%;
}


/* Theme */

body { 
  background-color: #131313; 
  color: #eee;
}

.front-section {
  display: block;
  background-color:  #131313;
}

.front-section.odd {
  background-color: #333;
}

.gutter { 
  padding: 2em; 
}

.news article { 
  position: relative; 
  max-width: 1400px;
  margin: 0 auto;
}

.news article .caption { 
  background-color: #131313; 
  bottom: 0; 
  color: #ddd;
  opacity:0.9;
  filter:alpha(opacity=90);
  position: absolute; 
  width: 100%; 
  z-index: 1;
}

.news article img {
  max-width: 1400px;
  width: 100%;
}

/* Thumbnail News */

.news.thumb article h1 {
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.news.thumb article .caption {
  background-color: #131313; 
  bottom: 0; 
  color: #ddd;
  opacity:0.9;
  filter:alpha(opacity=90);
  position: absolute; 
  text-align: center;
  width: 100%; 
  z-index: 1;
}

.news.thumb img {
  width: 100%;
}


/* Fixture Section */

.fixture > header {
  text-align: left
}

.fixture > header > span {
  float: right;
}

.fixture > .team {
  font-size: 1.5em;
}

.fixture > .team > .score {
  float: right;
}