/* app css stylesheet */

* {
  font-family: 'Roboto Condensed', serif; 
}

.container { 
  margin: 0; 
}

/* Theme */

body { 
  background-color: #131313; 
  color: #eee;
}

.front-section {
  display: block;
  background-color:  #131313;
}

.front-section.odd {
  background-color: #333;
}

.gutter { 
  padding: 15px; 
}

.news article { 
  position: relative; 
  max-width: 1400px;
  margin: 0 auto;
}

.news article .caption { 
  background-color: #131313; 
  bottom: 0; 
  color: #ddd;
  opacity:0.9;
  filter:alpha(opacity=90);
  position: absolute; 
  width: 100%; 
  z-index: 1;
}

.news article img {
  max-width: 1400px;
  width: 100%;
}



/* Schedule Section */
h1 {
  text-align: center;
  text-transform:uppercase;
}


/* Thumbnail News */

.news.thumb article h1 {
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.news.thumb article .caption {
  background-color: #131313; 
  bottom: 0; 
  color: #ddd;
  opacity:0.9;
  filter:alpha(opacity=90);
  position: absolute; 
  text-align: center;
  width: 100%; 
  z-index: 1;
}

.news.thumb img {
  width: 100%;
}