/* Theme */

body {
  background-color: #aaa;
  color: #eee;
}

.front-section {
  display: block;
}

.front-section.row {
  background-color: #333;
  color: #eee;
}

.front-section.row.odd {
  background-color: #eee;
  color: #001600;
}

/* Gutter */
.gutter {
  padding: 2em;
}

.gutter-sides {
  padding-left: 2em;
  padding-right: 2em;
}

/* Fixture Section */

.fixture > header {
  text-align: left
}

.fixture > header > span {
  float: right;
}

.fixture > .team {
  font-size: 1.5em;
}

.fixture > .team > .score {
  float: right;
}
