/* Featured */

.featured {
  article {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;

    .caption {
      background-color: #001600;
      bottom: 0;
      color: #ddd;
      opacity:0.9;
      filter:alpha(opacity=90);
      max-height: 33%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    img {
      max-width: 1400px;
      width: 100%;
    }
  }
}


@media (max-width: @screen-sm-max) {
  .featured {
    article{
      .caption{
        text-align: center;

        h1 {
          margin-top: 10px;
        }

        p {
          .responsive-invisibility();
        }
      }
    }
  }
}

@media (max-width: @screen-xs-max) {
  .featured {
    article {
      .caption {
        h1 {
          font-size: 24px;
        }
      }
    }
  }

}
