/* Featured */

.featured article {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.featured article .caption {
  background-color: #001600;
  bottom: 0;
  color: #ddd;
  opacity:0.9;
  filter:alpha(opacity=90);
  max-height: 33%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.featured article img {
  max-width: 1400px;
  width: 100%;
}
