/* Fixture Section */

.fixture {
  margin-bottom: .5em;

  &:last-of-type {
    border: 0;
  }

  header{
      text-align: left;

      span {
        float: right;
      }
  }

  .team {
    font-size: 1.5em;

    .score{
      float: right;
    }
  }
}

.schedule {
  > header {
    margin-top: 3em;

    h1 {
      background-color: #001600;
      opacity: 0.9;
      filter: alpha(opacity=90);
      text-align: center;
    }
  }

  article {
    header {
      background-color: #333;
      font-size: 1.25em;
      padding: 1em;
      text-align: left;

      .league {
        float: right;
      }
    }
    >div {
      background-color: #eee;
      color: #333;
    }
  }
}


/* Responsive Fixtures */
@media (min-width: @screen-xs-max) {
  .fixture {
    border-right: 1px solid;
  }
}

/* Responsive Fixtures */
@media (max-width: @screen-xs-max) {
  .fixture {
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid;
  }
}
