/* Header */

header {
  position: relative;
  text-align: center;

  h1 {
    
    font-size: 3em;
    text-align: center;
    text-transform:uppercase;
  }

  .header-bar {
    background-color: @gray-light;
    height:3em;
  }

  .navbar {
    border-width: 0 0 10px;
    
    li {
      font-size: 1.42em;
    }  

    .navbar-brand {
      padding: 0 .7em;
      position: relative;
      width: 7em;

      > img {
        left: 0;
        position: absolute;
        top: -1em;
        width: 6em;
      }
    }
  }
}