.schedule-container {
  position: relative;

  header {
    h1 {
      background-color: #001600;
      margin: 0 -15px 10px;
      padding: .5em;
      text-align: left;
    }
  }

  .schedule {
    .match {
      header {
        background-color: #333;
        font-size: 1.25em;
        padding: 1em;
        text-align: left;

        .league {
          float: right;
        }
      }
      >.match-details {
        background-color: #eee;
        color: #333;

        margin-right: 0px;
        margin-left: 0px;
        text-align: center;

        >.versus {
          top: 4em;
        }
      }
    }

    .match:not(:first-child) {
      margin-top: 1em;
    }

    .match:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  .schedule-menu {
    background-color: #333;
    height: 100%;
    position: absolute;
    right: 0;

    .affix {
      position: fixed;
      top: 0;
    }

    .affix-bottom {
        bottom: 100px;
    }

    ul {
      font-size: 1.25em;

      li {

        .active {
          background-color: white;
        }
      }
    }
  }
}
