div.container
  div.row
    div.col-sm-8.schedule
      header
        h1 Fixtures
      article.gutter
        header
          span Tue 11th march 9:00pm | Vadnais Heights
          span.league MRSL
        div
          div.row
            div.col-sm-3
              img(src="http://www.arsenal.com/assets/images/crests/bayernmunich.png?2012-13")
              span FC Bayern
            div.col-sm-3
              | V
            div.col-sm-3
              img(src="http://www.arsenal.com/assets/images/crests/arsenal.png?2012-13")
              span Arsenal


