div.container.gutter
  div.row.schedule-container
    div.col-sm-8.schedule
      div(ng-repeat="match in schedule")
        header(id="{{match.id}}")
          h1 {{ match.text }}
        article.match(ng-repeat="match in schedule")
          header
            span {{ match.date }} | {{ match.location }}
            span.league MRSL
          section.row.match-details.gutter
              div.col-sm-4
                img(src="http://www.arsenal.com/assets/images/crests/bayernmunich.png?2012-13")
                div {{ match.home }}
              div.col-sm-4.versus
                | V
              div.col-sm-4
                img(src="http://www.arsenal.com/assets/images/crests/arsenal.png?2012-13")
                div {{ match.away }}

    div.col-sm-4.schedule-menu.hidden-xs
      aside
        header
          h1 Season
        ul.nav.nav-pills.nav-stacked
          li(ng-repeat="match in matchMonths")
            a(href="{{ '#' + match.id }}") {{ match.text }}

script
  $('aside').affix({ offset: { top: 130 } });
  $('body').scrollspy({ target: '.schedule-menu' });
