doctype html
html(lang="en", ng-app="furyApp")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
    title Fury FC :: Minnesota's Premier Football Club

    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="app.css")

  body

        div.front-section.news
            article
                div.caption.gutter
                    h1 Neque porro quisquam est
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus, ipsum a feugiat tincidunt, arcu turpis egestas risus, quis convallis ligula tortor a turpis. Cras vel dolor in mauris blandit.
                img(src="http://www.atlantasilverbacks.com/fc/images/horth-iceland-slider.jpg")

        div.front-section.odd.gutter
            h1 Schedule
            table
                tr
                    th Team
                    th Time
                    th Venue
                tr
                    td Quatch FC
                    td 1-1-14
                    td NSC
                tr
                    td MN United FC
                    td 1-1-14
                    td NSC

        div.front-section.gutter
            div.row
                div.news.thumb.col-sm-4.gutter
                    article
                        div.caption
                            h1 Neque porro quisquam est
                        img(src="http://www.atlantasilverbacks.com/fc/images/horth-iceland-slider.jpg")
                div.news.thumb.col-sm-4.gutter
                    article
                        div.caption
                            h1 Neque porro quisquam est
                        img(src="http://www.atlantasilverbacks.com/fc/images/horth-iceland-slider.jpg")
                div.clearfix.visible-xs
                div.news.thumb.col-sm-4.gutter
                    article
                        div.caption
                            h1 Neque porro quisquam est
                        img(src="http://www.atlantasilverbacks.com/fc/images/horth-iceland-slider.jpg")
            div.row
                div.news.thumb.col-sm-4.gutter
                    article
                        div.caption
                            h1 Neque porro quisquam est
                        img(src="http://www.atlantasilverbacks.com/fc/images/horth-iceland-slider.jpg")
                div.news.thumb.col-sm-4.gutter
                    article
                        div.caption
                            h1 Neque porro quisquam est
                        img(src="http://www.atlantasilverbacks.com/fc/images/horth-iceland-slider.jpg")
                div.clearfix.visible-xs
                div.news.thumb.col-sm-4.gutter
                    article
                        div.caption
                            h1 Neque porro quisquam est
                        img(src="http://www.atlantasilverbacks.com/fc/images/horth-iceland-slider.jpg")

            
    script(src="jquery/jquery.min.js")
    script(src="bootstrap/dist/js/bootstrap.js")
    script(src="angular/angular.js")
    script(src="angular/angular-route.js")
    script(src="app.js")
    script(src="services.js")
    script(src="controllers.js")
    script(src="filters.js")
    script(src="directives.js")