doctype html
html(lang="en", ng-app="furyApp")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
    title Fury FC :: Minnesota's Premier Football Club

    link(rel="stylesheet", href="css/fury.min.css")
    link(href='http://fonts.googleapis.com/css?family=Roboto%20Condensed:400,700' rel='stylesheet' type='text/css')

  body
    header
      div.header-bar
      nav.navbar.navbar-default.navbar-static-top(role="navigation")
        div.container
          div.navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="#")
              img(src="img/FuryLogo.png")
          div.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href="#") Home
              li
                a(href="#") News
              li
                a(href="#") Club
              li
                a(href="#") Schedule
    div.container
      div.front-section.news.row
          article
              div.caption.gutter
                  h1 Neque porro quisquam est
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus, ipsum a feugiat tincidunt, arcu turpis egestas risus, quis convallis ligula tortor a turpis. Cras vel dolor in mauris blandit.
              img(src="img/team.jpg")

      div.front-section.odd.gutter.row
        div.fixture.col-sm-2
          header
            time(datetime="2014-03-01") 03-01
            span Fixture
          div.team
            span.name Fury
            span.score -
          div.team
            span.name TFC
            span.score -
        div.fixture.col-sm-2
          header
            time(datetime="2014-03-01") 03-01
            span Fixture
          div.team
            span.name Fury
            span.score -
          div.team
            span.name TFC
            span.score -
        div.fixture.col-sm-2
          header
            time(datetime="2014-03-01") 03-01
            span Fixture
          div.team
            span.name Fury
            span.score -
          div.team
            span.name TFC
            span.score -
        div.fixture.col-sm-2
          header
            time(datetime="2014-03-01") 03-01
            span Fixture
          div.team
            span.name Fury
            span.score -
          div.team
            span.name TFC
            span.score -
        div.fixture.col-sm-2
          header
            time(datetime="2014-03-01") 03-01
            span Fixture
          div.team
            span.name Fury
            span.score -
          div.team
            span.name TFC
            span.score -
        div.fixture.col-sm-2
          header
            time(datetime="2014-03-01") 03-01
            span Fixture
          div.team
            span.name Fury
            span.score -
          div.team
            span.name TFC
            span.score -

      div.front-section.gutter.row
        div.row
          div.col-sm-4
            div.thumbnail
              article
                img(src="img/team.jpg")
                div.caption
                  h1 Neque porro quisquam est
          div.col-sm-4
            div.thumbnail
              article
                img(src="img/team.jpg")
                div.caption
                  h1 Neque porro quisquam est
          div.clearfix.visible-xs
          div.col-sm-4
            div.thumbnail
              article
                img(src="img/team.jpg")
                div.caption
                  h1 Neque porro quisquam est
        div.row
          div.col-sm-4
            div.thumbnail
              article
                img(src="img/team.jpg")
                div.caption
                  h1 Neque porro quisquam est
          div.col-sm-4
            div.thumbnail
              article
                img(src="img/team.jpg")
                div.caption
                  h1 Neque porro quisquam est
          div.clearfix.visible-xs
          div.col-sm-4
            div.thumbnail
              article
                img(src="img/team.jpg")
                div.caption
                  h1 Neque porro quisquam est
          div.clearfix.visible-xs

    footer With <span class="glyphicon glyphicon-fire"></span> By Fury FC

    script(src="js/libs/jquery/jquery.min.js")
    script(src="js/libs/bootstrap/bootstrap.min.js")
    script(src="js/libs/angular/angular.min.js")
    script(src="js/furyApp.min.js")
