doctype html
html(lang="en", ng-app="furyApp")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
    title Fury FC :: Minnesota's Premier Football Club
    link(rel="stylesheet", href="css/fury.min.css")
    link(href='http://fonts.googleapis.com/css?family=Roboto%20Condensed:400,700' rel='stylesheet' type='text/css')

  body
    include header

    block content

    include footer

script(src="js/libs/jquery/jquery.min.js")
script(src="js/libs/bootstrap/bootstrap.min.js")
script(src="js/libs/angular/angular.min.js")
script(src="js/furyApp.min.js")
